h2 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

h3 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 28px;
    line-height: 26px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

h4 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

h5 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.paragraph1 {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 35px;
    color: #010306;
}

.paragraph2 {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.paragraph3 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.paddingTB {
    padding: 100px 0;
}

.goTo {
    padding: 17px 80px;
    font-family: 'Alumni Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
    background: #FCB500;
    border: none;
}

.goTo:hover {
    background: #FFC635;
}
.newDevelopments__btn {
    width: 50%;
    position: relative;
    padding: 12px 20px;
    font-family: Alumni Sans, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    border: none;
}
.toBasket {
    border-radius: 0 0 0 4px;
    color: #000000;
    background: #FCB500;
}
._icon-copy1:after{
    position: absolute;
    width: 5px;
    height: 5px;
    top: 0;
    right: 0;
}

/*.toBasket::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    height: 18px;*/
/*    width: 19px;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    right: 11px;*/
/*    margin: auto;*/
/*    background: transparent url(../svg/black_basket.svg) 0 0/100% no-repeat;*/
/*}*/

.toBasket:hover {
    background: #FFC635;
}

/*.toBasket:hover::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    height: 18px;*/
/*    width: 19px;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    right: 11px;*/
/*    margin: auto;*/
/*    background: transparent url(../svg/plus_black.svg) 0 0/100% no-repeat;*/
/*}*/

.btnHighlight {
    border-radius: 0 0 4px 0;
    color: #FFFFFF;
    background: #000000;
    border: none;
}

.btnHighlight:hover{
    background-color: #1B1B1F;
}
.ourProducts__product_column .has_no_padding,
.ourAdvantages__product_column .has_no_padding {
    padding: 0;
}

.btn_read_more {
    font-family: Alumni Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-decoration-line: underline;
    color: #FCB500;
    background-color: transparent;
    border: none;
}

.btn_read_more:hover {
    text-decoration-line: none;
    color: #FCB500;
}