@media screen and (max-width: 1110px) {
    .footer__subscription {
        margin-left: 20px;
    }

    .footer__subscription_btn {
        width: 150px;
        min-width: 100%;
    }
}


@media screen and (max-width: 992px) {
    .header__menu_container {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .ourInstagram__info {
        padding-bottom: 20px;
    }

    .footer__btn_go_up {
        top: -250px;
    }

    .ourAdvantages__card:first-child {
        padding-left: 25px;
    }

    .ourAdvantages__card:nth-child(3n) {
        padding-right: 25px;
    }

    .ourAdvantages__card:nth-child(4) {
        padding-left: 25px;
    }

    .footer__menu_item {
        padding-right: 25px;
    }

    .modal__ourAdvantages_content_text {
        height: 70%;
        overflow: auto;
    }
}

@media screen and (max-width: 865px) {
    .footer__container {
        position: relative;
        flex-wrap: wrap;
    }

    .footer__menu_wrapper {
        margin-bottom: 20px;
        width: 100%;
    }

    .footer__menu_item {
        padding-right: 50px;
    }

    .footer__menu_item:last-child {
        padding-right: 0;
    }

    .footer__tel_email {
        width: 100%;
    }

    .footer__subscription {
        width: 100%;
    }

    .footer__bottom_bank_cards {
        padding-left: 50px;
    }

    .footer__bottom_socials {
        padding-right: 50px;
    }
}


@media screen and (max-width: 768px) {
    h2 {
        font-size: 32px;
        line-height: 36px;
    }

    .paragraph3 {
        font-size: 14px;
        line-height: 20px;
    }

    .paddingTB {
        padding: 60px 0;
    }

    .header__information {
        display: none;
    }

    .header__menu_container {
        justify-content: space-between;
    }

    .header__menu_logo {
        display: none;
    }

    .header__menu_logo_top {
        display: block;
        margin-left: 5px;
        margin-right: 5px;
    }

    .header__menu_body {
        display: none;
    }

    .header__menu_buttons_tablet {
        display: flex;
        align-items: center;
    }

    .header__menu_buttons_tablet .header__menu_button:first-child {
        margin-left: 0;
    }

    .header__menu_buttons .header__menu_button:nth-child(-n+2) {
        display: none;
    }

    .header__menu_popup_item_user {
        font-size: 25px;
        color: white;
    }

    .header__menu_button:last-child {
        margin-left: 50px;
    }

    .slider__button_link {
        display: none;
    }

    .ourProducts {
        padding: 60px 0 60px;
    }

    .tacticalEquipment__left_text {
        padding-right: 30px;
    }

    .ourInstagram__product {
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .ourInstagram__info {
        padding-bottom: 15px;
    }

    .ourInstagram__product_column {
        max-width: 235px;
    }

    .productsTested__row {
        padding-left: 20px;
        padding-right: 20px;
    }

    .productsTested__info {
        padding-right: 40px;
        padding-left: 0;
    }

    .footer__img {
        padding-top: 0;
    }

    .footer__btn_go_up {
        display: none;
    }

    .footer__btn_go_up_small {
        display: block;
        z-index: 2;
    }

    .footer__menu_wrapper {
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    .footer__menu_item {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .footer__bottom_business_text {
        display: none;
    }

    .footer__bottom_bank_cards {
        padding-right: 20px;
        padding-left: 20px;
    }

    .footer__bottom_socials {
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media screen and (max-width: 576px) {
    .newDevelopments__all_goods {
        margin-left: 30px;
    }

    .productsTested__info {
        padding-right: 0;
    }
}

@media screen and (max-width: 570px) {
    .footer__bottom_business {
        margin-top: 20px;
    }
}

@media screen and (max-width: 535px) {
    .footer__bottom_business {
        margin-top: 0;
    }

}

@media screen and (max-width: 440px) {
    .header__menu_container {
        flex-wrap: nowrap;
    }

    .header__menu_logo_top {
        max-width: 76px;
    }

    .header__menu_button_left:first-child {
        margin-right: 20px;
    }

    .header__menu_button {
        margin-left: 0;
    }

    .header__menu_button:last-child {
        margin-left: 20px;
    }

    .newDevelopments__navigation_goods_cards {
        flex-wrap: wrap;
    }

    .newDevelopments__navigation_goods_btn {
        width: 100%;
    }

    .footer__btn_go_up {
        top: 500px;
        z-index: 2;
    }

    .footer__bottom_bank_cards {
        padding-right: 0;
        padding-left: 0;
    }

    .footer__bottom_bank_card {
        margin-left: 20px;
        margin-right: 0;
    }

    .footer__bottom_socials {
        padding-left: 0;
    }

    .footer__bottom_business::before {
        right: 0;
    }

    .footer__contacts {
        display: none;
    }

    .footer__subscription {
        margin-left: 0;
    }

    .footer__menu_item {
        margin-bottom: 15px;
        margin-top: 15px;
        max-width: 100%;
        flex: 0 0 100%;
        border-bottom: 1px solid #31353E;
    }

    .footer__menu_catalog {
        display: none;
    }

    .footer__menu_item_title {
        position: relative;
    }

    .footer__menu_item_title::before {
        content: "";
        position: absolute;
        margin: auto;
        top: 10px;
        right: 0;
        height: 5px;
        width: 8px;
        background: transparent url(../images/headerMenu/select.svg) 0 0/100% no-repeat;
    }

    .footer__menu_item {
        padding-right: 15px;
    }

    .footer__menu_item:last-child {
        padding-right: 15px;
    }

    .footer__subscription_title {
        margin-bottom: 20px;
    }

    .footer__menu {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .header__menu_popup_tablet,
    .header__menu_popup_tablet_link_info {
        background: #1B1B1F;
        padding: 30px 30px;
    }
}

@media screen and (max-width: 320px) {
    .paddingTB {
        padding: 50px 0;
    }

    .header__menu_button {
        font-size: 20px;
    }

    .header__menu_button_left {
        font-size: 20px;
    }

    ._icon-oval-orange:after {
        font-size: 20px;
    }

    .number_like {
        right: -7px;
    }

    .number_elections {
        right: -11px;
    }

    .header__menu_popup_item_user {
        font-size: 20px;
    }

    .header__menu_popup_item:nth-child(4) {
        font-size: 20px;
    }

    .carouselExampleControls {
        display: none;
    }

    .carouselExampleControlsSmall {
        display: block;
    }

    .carousel-inner_title {
        position: absolute;
        padding-top: 26px;
        color: #FFFFFF;
        z-index: 2;
    }

    .carousel-inner_title_orange {
        color: #FCB500;
    }

    .slider__button_link {
        display: block;
        margin-left: 15px;
        margin-right: 15px;
        padding: 18px 25px;
        bottom: 55px;
        font-size: 18px;
        border-radius: 0;
    }

    .newDevelopments__navigation_goods_cards {
        flex-wrap: wrap;
    }

    .ourInstagram__product_column {
        min-width: 270px;
    }

    .footer__subscription_title {
        margin-bottom: 10px;
    }

    .footer__bottom_logo {
        max-width: 120px;
    }

    .footer_bottom {
        padding-top: 25px;
        padding-bottom: 0;
    }
}